
label {
  color: #292929;
  div {
    color: #292929;
  }
}


.rfInput {
  background-color: #1fb7e9;
  border-radius: 20px;
  padding: 11px;
  font-size: 16px;
  color: white;
  width: 100%;
}

.rfInput:focus {
  outline-offset: unset;
  outline: unset;
}

.labelText {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.inputLabel {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
